<p id="notice"><%= notice %></p>

<%= high_chart("chart2", @chart2) %>

<p> Current Question ID :  <%= @active_question.id %> </p>
<p> Total Answers :  <%= @answer_count[:total] %> </p>

<p> True Count :  <%= @answer_count[:t_answers] %> </p>
<p> False Count :  <%= @answer_count[:f_answers] %> </p>


<div id="chart2"></div>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

