<%= form_for(@inquiry) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3>Frage <%= @question.id %>: <%= @question.poke %></h3>
<%= f.label :answer %><br />

<!--div class="btn-group btn-group-lg">
    <%= f.radio_button :answer, true, :checked => false, :class => "btn" %>
    <%= f.label :answer, "Yes"  %>
    <%= f.radio_button :answer, false, :checked => false, :class => "btn" %>
    <%= f.label :answer, "No" %>
</div-->



<div class="make-switch switch-large">
  <%= f.radio_button :answer, true, :type => :radio, :value => 'true', :checked => false %>
</div>


<div class="btn-group btn-group-lg" data-toggle="buttons-radio">
  <%= f.radio_button :answer, "ABC", :id=>"first", :style=>"display:none;" %>
  <label for="first" class="btn btn-primary btn-lg">First</label>

  <%= f.radio_button :answer, "PQR", :id=>"second", :style=>"display:none;" %>
  <label for="second" class="btn btn-primary btn-lg">Second</label>

  <%= f.radio_button :answer, "MNO", :id=>"third", :style=>"display:none;" %>
  <label for="third" class="btn btn-primary btn-lg">Third</label>
</div>


  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>

  <div class="actions">
    <%= f.submit 'Send' %>
  </div>


<% end %>  <!--   FORM END -->
  
<p>Session: <%= session[:current_user_id] %></p>

