<%= form_for(@inquiry) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h4>Frage <%= @question.id %>: <%= @question.poke %></h4>
<!--%= f.label :answer %-->


<!--div class="make-switch switch-large">
  <%= f.radio_button :answer, true, :type => :radio, :value => 'true', :checked => false %>
</div-->


<div class="btn-group btn-group-large" data-toggle="buttons-radio">

  <%= f.radio_button :answer, "yes", id: "first", style: "display:none;" %>
  <label for="first" class="btn btn-primary btn-large">YES</label>

  <%= f.radio_button :answer, "abstention", id: "second",  style: "display:none;" %>
  <label for="second" class="btn btn-primary btn-large">Abstent.</label>

  <%= f.radio_button :answer, "no", id: "third", style: "display:none;" %>
  <label for="third" class="btn btn-primary btn-large">NO</label>
  
</div>

<br/><br/>



  <div class="field">
    <%= f.label :remark %>
    <%= f.text_field :remark, class: "input-xlarge" %>
  </div>

  <div class="actions">
    <%= f.submit 'Vote', class: 'btn btn-large' %>
  </div>


<% end %>  <!--   FORM END -->
  
<!--p>Session: <%= session[:current_user_id] %></p-->

